<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Simple Slider</title>
</head>
<body>

    <div class="slide_wrapper">

        <div class="slide slide_jsinfo">
            <h1 class="slide_title">Samarkand</h1>
            <p class="slide_text">Samarkand also known as Samarqand, is a city in southeastern Uzbekistan and among the oldest continuously inhabited cities in Central Asia.</p>
            <div class="slide_badge">samarkand</div>
        </div>

        <div class="slide slide_freecodecamp">
            <h1 class="slide_title">Andijan</h1>
            <p class="slide_text">Andijan is one of the oldest cities in the Fergana Valley. In some parts of the city, archeologists have found items dating back to the 7th and 8th centuries.</p>
            <div class="slide_badge">andijan</div>
        </div>

        <div class="slide slide_w3schools">
            <h1 class="slide_title">Tashkent</h1>
            <p class="slide_text">Tashkent is the capital of and the most cosmopolitan city in Uzbekistan. It was noted for its tree-lined streets, numerous fountains, and pleasant parks.</p>
            <div class="slide_badge">tashkent</div>
        </div>

        <div class="slide slide_sololearn">
            <h1 class="slide_title">Bukhara</h1>
            <p class="slide_text">Bukhara is the seventh-largest city in Uzbekistan, with a population of 280,187 as of 1 January 2020, and the capital of Bukhara Region.</p>
            <div class="slide_badge">bukhara</div>
        </div>

        <button class="prev_btn"></button>
        <button class="next_btn"></button>
        <a class="back" href="../index.html">Back</a>
    </div>

    <script src="./js/script.js"></script>
</body>
</html>